KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_KEYCLOAK_ADMIN

MINIO_ROOT_USER=converter_storage_dev
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO_DEV

KEYCLOAK_DB_PASSWORD=CHANGE_ME_KEYCLOAK_DB_PASSWORD
NSI_DB_PASSWORD=CHANGE_ME_NSI_DB_PASSWORD
DOCUMENTS_DB_PASSWORD=CHANGE_ME_DOCUMENTS_DB_PASSWORD

NSI_DATABASE_URL=postgres://nsi:CHANGE_ME_NSI_DB_PASSWORD@nsi_db:5432/nsi
DOCUMENTS_DATABASE_URL=postgres://documents:CHANGE_ME_DOCUMENTS_DB_PASSWORD@documents_db:5432/documents

NSI_DJANGO_SECRET_KEY=CHANGE_ME_NSI_SECRET
DOCS_DJANGO_SECRET_KEY=CHANGE_ME_DOCS_SECRET
S2S_CLIENT_SECRET=CHANGE_ME_S2S_SECRET
RABBITMQ_DEFAULT_PASS=CHANGE_ME_RABBITMQ_PASS
SEED_PASSWORD=CHANGE_ME_OPERATOR_PASSWORD
